/* Modal{
    top: 50%;
    left: 50%;
    right: auto;
    left: auto;
    margin-left: 100px;
    background-color: gray;
} */
/* .modal
{
    width: 500px;
}  */

.closeBtn{
    /* margin-bottom: 30px; */
    margin-left: 250px;
}
.modalImg{
    width: 300px;
    margin-left: 220px;
    
}
.content{
    text-align: center;
}
.viewBtn{
    /* margin-top: -6px; */
    margin-left: 30px;
    /* margin-bottom: -100px; */
}