.App {
  text-align: center;
}
.App {
  text-align: center;
  /* font-family: 'Dancing Script', 'cursive'; */
}

.brand{
  font-size: 30px;
  margin-right: 600px;
  font-family: 'Dancing Script', 'cursive';
  
}
li{
  margin-right: 15px;
  font-size: 25px;
  font-family: 'Dancing Script', 'cursive';
  
}
/* li:hover{
  border-bottom: 1px solid black;
  color: red;
} */
li:active{
  background-color: yellow;
}
.form-input{
  margin-left: 380px;
  /* margin-right: 600px; */
}
/* .card-details{
  margin-bottom: 30px;
} */
button{
  margin-top: 10px;
  /* margin-left: -50px; */

  font-size: 18px;
  /* padding-top: 30px; */
}
/* .searchBtn{
  margin-left: -250px;
} */
.card{
  width: 350px;
  /* height: 100px; */
  display: inline-block;
  margin-right: 20px;
}
/* .card-image{
  width:auto;
  
} */

