/* .contactData{
    margin-top: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(235, 162, 212) 0%, rgba(97,97,163,1) 10%, rgba(162, 190, 235,0.8522759445575105) 51%, rgba(235, 188, 162) 99%);
    height: 100px;
    color:crimson;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
}
h2{
    font-family: 'Dancing Script', 'cursive';
    font-size: 40px;
}
.cards{
    margin-top: 50px;
    /* margin-bottom: 270px; 
}

.contact-card{
    width: 1100px;
}
.email-container, .contact-container{
    width: 300px;
    
}
form{
    display: inline;
}
.email-container h4
{
    padding-top: 20px;
}
.contact-container h4{
    padding-top: 20px;
}
/* .email-container, .contact-container p{
    padding-top: 20px;
    padding-bottom: 20px;
} */
/* .email-container{
    display: inline-block; 
} */

/*-----------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact{
    position: relative;
    /* min-height: 100vh; */
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../images/contactUsBg.jpg');
    background-size: cover;
    padding-bottom: 150px;
    /* opacity: 0.5; */
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p{
    font-weight: 400;
    color: #fff;
    font-size: 16px;
}
.contact-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.contact-container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contact-container .contactInfo .box{
    position: relative;
    padding: 18px 0;
    display: flex;
}
.contact-container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    
}
.contact-container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #ffff;
    flex-direction: column;
    font-weight: 400;
    padding-top: 10px;
    /* padding-left: 10px; */
    /* margin-left: -30px; */
}
.contact-container .contactInfo .box .text h3{
    font-weight: 700;
    color: #00bcd4;
    font-size: 30px;
    display: flex;

}
.contact-container .contactInfo .box .text p{
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.contactForm{
    width: 55%;
    padding: 25px;
    background: #fff;
    /* margin-top: -60px; */
    margin-left: -180px;
}
.col-form-label{
    font-weight: bolder;
    color: #333;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}
.textBox{
    margin-left: -90px;
    /* height: 30px; */
}
.submitButton{
    margin-top: 30px;
    margin-left: 50px;
}
.inputLine{
    margin-top: -10px;
}

/* .textAreaLabel{
    display: flex;
} */